html {
    scroll-behavior: smooth;
}

.card-panel{
    border: 5px;
    margin : 20px 40px 20px 40px ;
    padding: 40px;
}

.contenu{
    margin : 50px 100px 50px 100px;
    width : 85% ;
}

body {
    font-family: Roboto, sans-serif;
}

.footer {
    position : fixed;
    bottom : 0;
    right: 0;
    padding: 20px;
    color: white;
    text-align:right;
    padding-right:1em;
    background-color: #333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li span {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111 !important;
}

select {
    height: 100px;
}